.main_about {
  display: grid;
  grid-template-columns: 51% 45% 4%;
  align-items: center;
  min-height: 100vh;
}
.parent_video {
  margin: auto;
  max-width: 80%;
  height: 368px;
}
.parent_video video {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 10px;
}
.text_about {
  text-align: right;
  padding: 0px 40px;
  display: flex;
  justify-content: flex-end;
}
.text_about > div {
  width: 90%;
}
.text_about span {
  width: 132px;
  height: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #3eb860;
}
.text_about h2 {
  line-height: 1.5;
  margin: 10px 0px;
  font-size: 36px;
}
.text_about p {
  font-weight: 400;
  color: #656464;
  padding-left: 6rem;
}

/* Start Media-Queries */

/*  Desktops, large screens */

@media (min-width: 1025px) and (max-width: 1200px) {
  .parent_video {
    height: 268px;
  }
  .text_about > div {
    width: 100%;
  }
  .text_about p {
    padding-left: 1rem;
  }
}
/* Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .text_about h2 {
    font-size: 1.5rem;
  }
  .main_about {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }
  .parent_video {
    width: 56%;
    height: 247px;
  }
  .text_about {
    justify-content: normal;
  }
}

/* iPads, Tablets, Mobile devices */

@media (min-width: 0px) and (max-width: 768px) {
  .main_about {
    grid-template-columns: initial;
  }
  .parent_video {
    max-width: 75%;
    height: 240px;
  }
  .text_about span {
    font-size: 16px;
  }
  .text_about h2 {
    font-size: 20px;
  }
  .text_about p {
    padding-left: 0;
  }
}