.main_advantages {
  text-align: center;
  background-image: url(../public/Line\ 9.svg), url(../public/Line\ 8.svg);
  background-position: 47% 76%, 49% 29%;
  background-repeat: no-repeat;
  padding-top: 3rem;
  position: relative;
}
.title_advantages{
  height: 204px;
  padding: 2rem 10px;
}

.title_advantages h2 {
  font-size: 36px;
  margin: 0;
}
.title_advantages p {
  color: #3eb860;
  font-weight: 400;
  margin-top: 5px;
}
.planning {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}
.left_plan {
  display: grid;
  grid-template-rows: 17% 40%;
}
.right_plan {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.plan_one {
  margin-right: 50px;
}
.content_plan {
  margin: auto;
  max-width: 450px;
}
.plan_image img {
  background: white;
}
.plan_text {
  max-width: 286px;
  background: #fafafa;
  box-shadow: 0px 4px 4px rgb(159 152 152 / 25%);
  border-radius: 8px;
  text-align: right;
  padding: 20px 25px;
  margin: 1rem auto;
}
.plan_text h4 {
  margin: 0;
}
.plan_text span {
  font-weight: 700;
  font-size: 20px;
  color: #3eb860;
}

/* Start Media-Queries */

/* big screens */

@media (min-width: 1431px) {
  .main_advantages {
    width: 93%;
    margin: auto;
  }
}

/* Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .main_advantages {
    background-position: 56% 90%, 51% 42%;
  }
  .title_advantages h2 {
    font-size: 1.5rem;
  }
  .left_plan {
    grid-template-rows: 25% 40%;
  }
  .plan_image {
    width: 80%;
    margin: auto;
  }
  .plan_text {
    width: 250px;
  }
}

/* iPads, Tablets, Mobile devices */

@media (min-width: 0px) and (max-width: 768px) {
  .main_advantages {
    background: none;
  }
  .title_advantages h2 {
    font-size: 20px;
  }
  .title_advantages p {
    width: 80%;
    margin: auto;
    margin-top: 13px;
  }
  .planning {
    display: initial;
    grid-template-columns: none;
  }
  .left_plan {
    position: absolute;
    top: 42.5%;
    left: 0;
    right: 0;
    grid-template-rows: 0 auto;
    z-index: 99;
  }
  .right_plan {
    gap: 640px;
  }
}
