.main_connect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
  min-height: 100vh;
}
.parent_img {
  max-width: 600px;
  margin: auto 10px auto auto;
}
.form_connect {
  text-align: center;
}
.title_form {
  padding: 31px 5px;
}
.title_form h2 {
  font-size: 36px;
  margin: 0;
  direction: ltr;
}
.title_form p {
  font-weight: 400;
  color: #3eb860;
}
.form form {
  width: 75%;
  margin: auto;
}
.form input,
.form textarea {
  width: 88%;
  height: 48px;
  border: 1px solid rgba(207, 207, 207, 0.85);
  border-radius: 12px;
  direction: rtl;
  padding-right: 25px;
  margin-bottom: 20px;
  outline-color: #3eb86045;
}
.form textarea {
  height: 180px;
  padding-top: 20px;
  resize: none;
}
.form button {
  width: 90px;
  height: 40px;
  background: #3eb860;
  border-radius: 6px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  outline: none;
  user-select: none;
  float: left;
  margin-left: 33px;
  border: none;
}

/* Start Media-Queries */

/*  Desktops, large screens */

@media (min-width: 1025px) and (max-width: 1200px) {
  .form input,
  .form textarea {
    width: 91%;
  }
}

/* Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .main_connect {
    grid-template-columns: 47% 53%;
    align-items: center;
  }
  .form form {
    width: 88%;
  }
  .title_form h2 {
    font-size: 1.5rem;
  }
  .form input {
    height: 38px;
    margin-bottom: 15px;
  }
  .form textarea    {
    height: 138px;
  }
  .form button {
    width: 80px;
    height: 35px;
    margin-left: 6%;
  }
}

/* iPads, Tablets, Mobile devices */

@media (min-width: 0px) and (max-width: 768px) {
  .main_connect {
    grid-template-columns: repeat(1, 1fr);
  }
  .main_connect > div:first-child {
    display: none;
  }
  .title_form h2 {
    font-size: 20px;
  }
  .title_form p {
    margin: 0;
  }
  .form form {
    width: 90%;
  }
}