.navbar {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px 0px;
  background: #e1ffea;
  align-items: center;
  transition: 0.3s;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  gap: 13px;
}
.links {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
}
.links > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  font-weight: 600;
  padding: 0;

}
.links > ul a {
  outline: none;
}
.links > ul a {
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-style: normal;
  line-height: 2.3;
  text-align: center;
  transition: 250ms;
}
.links > ul > li:hover:not(:last-child) a {
  background-color: #3eb86014;
}
.links > ul > li:last-child a {
  background: #3eb860;
  color: white;
}

/* Start Media-Queries */

/*  Desktops, large screens */

@media (min-width: 1025px) and (max-width: 1200px) {
}

/* Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    grid-template-columns: 25% 75%;
    font-size: 15px;
  }
  .links > ul {
    width: 90%;
  }
  .links > ul a {
    width: max-content;
    padding: 0px 12px;
  }
}

/* iPads, Tablets, Mobile devices */

@media (min-width: 0px) and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    height: 103px;
    overflow: hidden;
  }
  .logo{
    margin: auto;
  }
  .links {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }
  .links > ul li {
    width: 100%;
    text-align: -webkit-center;
    margin-bottom: 10px;
  }
  .dropdown_opening{
    height: 431px !important;
  }
}

@media (min-width: 0px) and (max-width: 248px) {
  .navbar {
    height: 160px;
  }
}